defaults:
  service:
    interval: 10m
    access_token: ghp_AAAA
  gotify:
    delay: 0s
    max_tries: 3
    message: '${service_id} - ${version} released'
    priority: 5
    title: 'Release notifier'
    extras:
      android_action: '${service_url}'
      client_display: 'text/plain'
      client_notification: '${service_url}'
  slack:
    message: '<${service_url}|${service_id}> - ${version} released'
    username: 'Release Notifier'
    icon_emoji: ':github_background:'
    max_tries: 3
    delay: 0s
  webhook:
    desired_status_code: 0
    max_tries: 3
    delay: 0s
    silent_fails: false

monitor:
  - id: Gitea
    service:
      type: github
      url: go-gitea/gitea
      # Remove the leading v for progressive versioning
      url_commands:
        - type:  regex_submatch
          regex: 'v(.*)'
          index: 1
      regex_version: '^[0-9.]+[0-9]$'
      regex_content: gitea-${version_no_v}-linux-amd64
    webhook:
      type: github
      url: https://awx.example.com/api/v2/job_templates/XX/github/
      secret: YYYY
      delay: 0s
    gotify:
      url: https://gotify.example.com
      token: APP_TOKEN
      delay: 0s
    slack:
      url: https://mattermost.example.com/hooks/ZZZZ
      icon_url: https://raw.githubusercontent.com/go-gitea/gitea/main/public/img/logo.png
      delay: 0s
